/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.sidebar-menu .nav-link {
    padding: 12px 20px;
}

    .sidebar-menu .nav-link:hover {
        background-color: gray;
    }

.admin-menu .nav-link {
    padding: 12px 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

    .admin-menu .nav-link:hover {
        background-color: #343a40;
    }
